.row1
  .wrapper.container
    .row1__flag
      = link_to (image_tag "flag-pl.png", :alt => "polski", :class => "row1__flag--border"), locale: :pl
      = link_to (image_tag "flag-de.png", :alt => "Deutsch", :class => "row1__flag--border"), locale: :de
    %h1
      - if current_domain == :wop
        Work on Personal
        %small doradztwo personalne
      - else
        DAAR Personal Service
        %small= t("arbeitsueberlassung")
