.row4
  .wrapper.container
    Work On Personal Ltd.,
    71 Sutton Hall Road, Hounslow,
    TW5 OPX London
    - if logged_in?
      &bull;
      %strong= link_to "Log out", '/log-out'
    <br/>
    = "Visited " + pluralize(Visit.count, "time") + "."
