.row4
  .wrapper.container
    DAAR Personal Service GmbH,
    Hegelallee&nbsp;1,
    14467 Potsdam<br />
    <small>Made by
    = link_to "Karol Moroz", "http://elefanto.vot.pl"
    using Rails 4 and Bootstrap</small>
