%h2 O nas
<p>e-mail: info (at) workonpersonal.pl<br/>
tel. +48 515 287 274<br/>
= link_to "www.workonpersonal.pl", "http://www.workonpersonal.pl"
</p>

<p><strong>Konsultanci:</strong><br/>
Agnieszka Młynarczyk<br/>
tel. +48 518 461 875<br/>
e-mail: agnieszka.mlynarczyk (at) op.pl</p>

<p>Rafał Szczęsny<br/>
tel. +48 607 968 294<br/>
e-mail: rafal.szczesny (at) op.pl</p>
