%h2 Dla Pracodawcy
<p>Znalezienie na własną rękę właściwego kandydata do pracy dla wielu firm jest kosztownym i czasochłonnym procesem.
Dlatego w Work On Personal, Ltd. proponujemy Ci usługę doradztwo personalne.</p>

<p>Jego ideą jest pomoc w szybkim i skutecznym dotarciu do odpowiednich kandydatów na dane stanowisko pracy. Dzięki doświadczeniu, stałej współpracy z największymi mediami elektronicznymi i tradycyjnymi, oraz własnej bazie danych, jesteśmy w stanie dotrzeć do najlepszych kandydatów szybko i skutecznie.</p>

DAAR Personal Service GmbH jast częścią powstałej w 2011 roku firmy Work On Personal LTD z siedzibą w Londynie zajmującą się doradztwem personalnym.

Nasze wieloletnie doświadczenie , znajomość regionalnych rynków pracy i wiedza, poparta szerokim doświadczeniem, pozwala nam realizować projekty z lokalną precyzją.

Działamy w Polsce, Niemczech , Austrii i innych krajach Europy zachodniej.

Nasi doradcy i konsultanci posiadają szeroką znajomość regionalnych rynków pracy.

Dzięki rozbudowanej sieci kontaktów, a także zaangażowaniu oraz wysokim kwalifikacjom naszych konsultantów docieramy do najlepszych kandydatów z całej Unii Europejskiej, jak również tych specjalistów, którzy w chwili obecnej już przebywają poza granicami swojego kraju.
