%h2 Dla Pracodawcy
%p DAAR Personal Service GmbH jast częścią powstałej w 2011 roku firmy Work On Personal LTD z siedzibą w Londynie zajmującą się doradztwem personalnym.

%p Nasze wieloletnie doświadczenie , znajomość regionalnych rynków pracy i wiedza, poparta szerokim doświadczeniem, pozwala nam realizować projekty z lokalną precyzją.

%p Działamy w Polsce, Niemczech, Austrii i innych krajach Europy zachodniej. Nasi doradcy i konsultanci posiadają szeroką znajomość regionalnych rynków pracy.

%p Dzięki rozbudowanej sieci kontaktów, a także zaangażowaniu oraz wysokim kwalifikacjom naszych konsultantów docieramy do najlepszych kandydatów z całej Unii Europejskiej, jak również tych specjalistów, którzy w chwili obecnej już przebywają poza granicami swojego kraju.
