<p>Witamy na stronie DAAR Personal Service GmbH. Zajmujemy się pośrednictwem pracy na terenie Niemiec.
Jeżeli szukasz pracy &mdash; pomożemy Ci znaleźć legalną pracę w Twoim zawodzie. Zapoznaj się z
ofertami pracy w dziale
= link_to "„Dla kandydata”", '/offers/pl'
i
= link_to "skontaktuj się", '/kontakt/pl'
z nami.</p>

<p>Jeżeli prowadzisz firmę i chciałbyś zatrudnić wykwalifikowanych pracowników z Polski, pomożemy Ci
znaleźć odpowiednich ludzi.
= (link_to "Napisz do nas", '/kontakt/pl') + ','
a znajdziemy potrzebnych Ci pracowników w naszej bazie. Zawiera ona już ponad 1500 kandydatów
wykwalifikowanych w różnych dziedzinach, m.&nbsp;in. elektryków, spawaczy, lakierników samochodowych,
hydraulików i malarzy, gotowych podjąć pracę na terenie Unii Europejskiej.</p>

= render 'magic_orbs'
