.row1
  .wrapper.container
    %h1
      Work on Personal
      %small Oferty pracy

.row2
  .wrapper.container
    .row
      .col-sm-3
        Strona główna
      .col-sm-3
        O firmie
      .col-sm-3
        Oferty pracy
      .col-sm-3
        Dla pracodawcy

.row3
  .wrapper.container
    Witamy na stronie Work On Personal, Ltd.!

    Jeżeli szukasz pracy, to dobrze trafiłeś, zapraszamy do działu „oferty pracy”.

    Jeżeli jesteś pracodawcą i szukasz pracownika, trafiłeś pod właściwy adres.

    W swojej bazie posiadamy ponad 1500 kandydatów w różnych zawodach gotowych podjąć pracę w UE.

    Potrzebujesz pracownika? Zachęcamy do kontaktu.

.row4
  .wrapper.container
    &copy; 2015 by Karol Moroz.
