<p>Witamy na stronie Work On Personal, Ltd. Jeżeli szukasz pracy, dobrze trafiłeś, zachęcamy do zapoznania się z naszymi
= (link_to "ofertami pracy", '/offers/pl') + '.'
</p>

<p>Jeżeli jesteś pracodawcą i szukasz pracownika, trafiłeś idealnie. W naszej bazie mamy dane ponad 1500 kandydatów w różnych zawodach gotowych podjąć pracę w UE. Potrzebujesz pracownika? Zachęcamy do
= (link_to "kontaktu", '/contact') + '.'
</p>

<p>Work On Personal LTD jest jedną z najbardziej dynamicznie rozwijających się agencji pośrednictwa pracy.
Dzięki międzynarodowej sieci kontaktów możemy zaproponować konkurencyjne warunki zatrudnienia osobom zainteresowanym podjęciem pracy w Niemczech oraz Austrii.
Nasza oferta skierowana jest przede wszystkim do pracowników wykwalifikowanych z branży technicznej. Pośredniczymy w zatrudnieniu w takich zawodach jak:
<b>elektryk</b>, <b>hydraulik</b>, <b>spawacz</b>, <b>monter wentylacji</b>, <b>malarz</b>, <b>cieśla</b>, <b>zbrojarz</b>, <b>murarz</b> itp.</p>

= render 'magic_orbs'
