<p>Wilkommen auf unserer Seite! Unsere Firma spezialisiert sich in Arbeitnehmerüberlassung in Deutschland.
Wenn Sie ein Unternehmen führen und nach qualifizierten Arbeitnehmern aus Polen suchen, helfen wir Ihnen, die richtigen Leute zu finden. Wir verfügen über einem Pool von mehr als 1500 Arbeitnehmern, vor allem in den Berufen: Elektriker, HLS-Monteur, Schweißer und Schlosser qualifiziert, bereit, in der Europäischen Union zu arbeiten. Wenn nötig, können wir für Sie auch in anderen Fachhandwerken qualifizierte Fachleute finden, sowie Techniker und Ingenieure.
= link_to "Weiter lesen…", '/arbitgeber'
</p>

<p>Wenn Sie auf der Jobsuche sind, helfen wir Ihnen, einen legalen Job in Ihrem Beruf zu finden. Machen Sie sich mit unseren
= link_to "Stellenangeboten", '/offers/de'
bekannt und
= (link_to 'kontaktieren Sie uns', '/contact/de') + '.'
</p>


= render 'magic_orbs'
