<p>Wilkommen auf der Seite von Work On Personal, Ltd. Wenn Sie ein Arbeitgeber sind und nach Arbeitnehmer suchen, sind Sie am richtigen Ort.
= link_to "Kontaktieren sie uns!", '/contact'
Wenn Sie auf der Jobsuche sind, machen Sie sich mit unseren
= link_to "Stellenangeboten", '/offers'
bekannt.</p>

<p>Work On Personal, Ltd. ist ein dynamisch entwickelnder Arbeitsvermittler. Dank einem internationalen Netzwerk an Kontakten können wir wettbewerbsfähige Beschäftigungsbedingungen an diejenigen anbieten, die in Deutschland oder Österreich arbeiten möchten. Unser Angebot richtet sich vor allem an qualifizierte Fachleute in der technischen Branche. Wir vermitteln Stellen in solchen Berufen wie: Elektriker, Hydraulik, Schweißer, HLS-Monteur, Maler, Schreiner, Fixer, Mauer usw.</p>

= render 'magic_orbs'
