<p>Witamy na stronie Work On Personal, Ltd. Jeżeli szukasz pracy, dobrze trafiłeś, zachęcamy do zapoznania się z naszymi
= (link_to "ofertami pracy", '/offers/pl') + '.'
</p>

<p>Jeżeli jesteś pracodawcą i szukasz pracownika, trafiłeś idealnie. W naszej bazie mamy dane ponad 1500 kandydatów w różnych zawodach gotowych podjąć pracę w UE. Potrzebujesz pracownika? Zachęcamy do
= (link_to "kontaktu", '/contact') + '.'
</p>
