%h1 Impressum

%p
  DAAR Personal Service GmbH<br>
  Hegelallee 1<br>
  14467 Potsdam

%p
  Tel: +49 36462 92715<br>
  E-Mail: biuro&#64;daar-ps&#46;de<br>
  Internet: www.daar-ps.de<br>
  USt.-ID-Nr.: 04610710935<br>
  Geschäftsführer: Rafał Szczęsny

%p Verantwortlich für alle eigenen Inhalte ist gemäß § 7 Abs. 1 TMG: Rafał Szczęsny.
%p
  Registergericht: AG Potsdam<br>
  Registernummer: HRB 27998

%p Die gewerbsmäßige Arbeitnehmerüberlassung ist nur mit einer Erlaubnis zulässig. Die Erlaubnis zur Arbeitnehmerüberlassung  für die Firma DAAR Personal Service GmbH erteilte die:

%p
  %strong Bundesagentur für Arbeit<br>
  Regionaldirektion Nord<br>
  Projensdorfer Straße&nbsp;82<br>
  24106 Kiel<br>
  <strong>Telefon:</strong> 0431/3395-0<br>
  <strong>Telefax:</strong> 0431/3395-9999<br>
  <strong>E-Mail:</strong> Nord.ANUE@arbeitsagentur.de<br>
  Aufsichtsbehörde der Bundesagentur für Arbeit ist das Bundesministerium für Wirtschaft und Arbeit, Wilhelmstraße 49, 10117 Berlin (Mitte).

%p <strong>Haftungshinweis: Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.</strong>
