- if logged_in?
  = link_to "Dodaj nową ofertę", '/offers/new', :class => "btn btn-primary offer__newoffer"
  %br

- unless @offers.empty?
  .offer__list
    = render @offers, :partial => 'offers/offer_list'
- else
  <p>W tej chwili w bazie nie ma żadnych ofert pracy. Aby bazie nie było smutno &mdash; dodaj nową ofertę do bazy korzystając z linka „Dodaj nową ofertę” poniżej. (Jeżeli go nie ma &mdash;
  = link_to "zaloguj się", '/log-in'
  )</p>
