
%h2 Stellenangebote

%p Unsere Firma hat jahrelange Erfahrung in internationaler Arbeitsvermittlung. Deswegen können wir Ihnen folgendes garantieren:
%ul
  %li
    %strong Sicherheit
    &mdash; wir senden unsere Arbeitnehmer nur an geprüfte und zuverlässige Kunden.
  %li
    %strong Unterkunft
    &mdash; wir unterstützen Sie dabei, vor Ort eine Unterkunft zu finden, oder organisieren eine Unterkunft für Sie.
  %li
    %strong Betreuung am Ort
    &mdash; ein polnischsprachiger Berater wird Ihnen helfen, sich in der neuen Umgebung zu akklimatisieren.
  %li
    %strong Kostenlose Arbeitsvermittlung
    &mdash; wir nehmen von Ihnen keine Gebühr.

%p Momentan suchen wir Mitarbeiter für folgende Stellen:

= render 'offers'
