%h2 Stellenangebote

%p Unsere Firma hat viele Jahre Erfahrung in internationaler Arbeitsvermittlung. Deswegen können wir Ihnen garantieren:
%ul
  %li
    %strong Sicherheit
    &mdash; wir senden unsere Arbeitnehmer nur an geprüfte und zuverlässige Kunden.
  %li
    %strong Unterkunft
    &mdash; wir unterstützen Sie dabei, am Ort Unterkunft zu finden, oder wir sichern Unterkunft für Sie.
  %li
    %strong Betreuung am Ort
    &mdash; ein polnischsprachiger Berater wird Ihnen helfen, sich in einer neuen Umgebung zu akklimatisieren.
  %li
    %strong Kostenlose Arbeitsvermittlung
    &mdash; wir nehmen von Ihnen keine Gebühr.

Momentan suchen wir Leute für die Stellen:
= render 'offers'
