%h2 Oferty pracy

Nasze wieloletnie doświadczenie w międzynarodowym pośrednictwie pracy gwarantuje Państwu:
%ul
  %li
    %strong Bezpieczeństwo
    &mdash; naszych pracowników wysyłamy jedynie do sprawdzonych i wiarygodnych Klientów.
  %li
    %strong Zakwaterowanie
    &mdash; zapewniamy lub pomagamy znaleźć zakwaterowanie
  %li
    %strong Opieka na miejscu
    &mdash; zapewniamy wsparcie polskojęzycznego konsultanta, który ułatwi zaaklimatyzowanie się w nowym otoczeniu.
  %li
    %strong Bezpłatne pośrednictwo pracy
    &mdash; nie pobierzemy od Ciebie żadnych opłat.

%p W tej chwili poszukujemy osób na stanowiska:

= render 'offers'
