.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.row1 {
  // padding: 1em;
  background-color: #db8000;
}

h1 {
  color: #0f0a99;
}

.row2 {
  // padding: 1em;
  background-color: #dba600;
}

.row3 {
  background-color: #ffad39;
}

.row4 {
  background-color: #dba600;
}
