html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: 85%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
}

a {
  color: #007942;
}

a:hover {
  color: #4a9d00;
}

a:visited {
  color: #074570;
}

.round {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.row1 {
  // padding: 1em;
  background-color: #ccc;
}

h1, h2, h3, h4 {
  color: #007942;
}

.row2 {
  background-color: #074570;
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  border-bottom: solid 5px #125788;
}

.row2 a {
  color: #ccc;
}

.row1__flag {
  position: relative;
  float: right;
}

.row1__flag--border {
  border: solid 1px #000;
}

.row3 {
  background-color: #ddd;
  font-size: 1.1rem;
}

.row4 {
  background-color: #61be0e;
}

.offers__form--textarea {
}

.offers__hints {
  background-color: #ddd;
  border: solid 1px #999;
  padding: 0.5em;
  margin-bottom: 1em;
}

.offerlist {
  padding: 1em;
  border: solid 1px #999;
  background-color: #ddd;
  margin-bottom: 0.5em;
}

.round {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.magic_orbs {
  text-align: center;

  a {
    color: #007942;
  }
}

.magic_orbs--circle {
  border: solid 3px #074570;
  max-width: 90%;
  margin: 0 auto;
}

@media(min-width: 500px) {
  .offers__hints {
    margin-bottom: 0;
  }

  .row2 {
    text-align: center;
  }

  .row3 {
    min-height: 60%;
  }
}
