// Place all the styles related to the Offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offer__buttons {
  float: right;
}


.offers__form--textarea {
}

.offers__hints {
  background-color: #ddd;
  border: solid 1px #999;
  padding: 0.5em;
  margin-bottom: 1em;
}

.offer__li {
  padding: 1em;
  border: solid 1px #999;
  background-color: #eee;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 1.2rem;
}

.delete_offer {
  float: right;
}

.offer__newoffer {
  margin-bottom: 1em;
}

.offer__list {
  margin-top: 1em;
}

@media(min-width: 600px) {
  .offer__li {
    width: 95%;
  }
}
